[Unit]
Description=Wezterm Multiplexing Server

[Service]
# start with system shell as parent in order to inherit environment variables
ExecStart=/bin/sh -c /usr/bin/wezterm-mux-server
Restart=on-failure

[Install]
WantedBy=default.target
