[Unit]
Description=Wezterm Multiplexing Server
After=gnome-session.target

[Service]
ExecStart=/usr/bin/wezterm-mux-server
Restart=on-failure

[Install]
WantedBy=gnome-session.target
