tresor/box_do_key

nushell/zoxide.nu
nushell/history.txt
nushell/history.sqlite3*
nushell/plugin.nu
nushell/aliases.nu

neovim/profile.log
neovim/plugin
neovim/profile.svg
.aider.chat.history.md

.*syncthing.*
tresor/github.key
